{% extends "homepage.html" %}

{% block titulo %}
Página de Reservas
{% endblock %}

{% block body %}
<body>
  <header>
    <h1>Sistema de Biblioteca</h1>
  </header>

  <main>
    <section>
      <h2>Reservar Livro</h2>
      <form id="reservarForm">
        <label for="livroId">ID do Livro:</label>
        <input type="text" id="livroId" placeholder="Ex: 1234" required>

        <label for="usuario">Seu Nome:</label>
        <input type="text" id="usuario" placeholder="Seu nome" required>

        <button type="submit">Reservar</button>
      </form>
    </section>
  </main>

  <script src="../static/script.js"></script>
</body>


{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="pt-br">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Sistema de Biblioteca</title>-->
<!--  <link rel="stylesheet" href="style.css">-->
<!--</head>-->

<!--</html>-->



